{{>header}}
{{>navbar}}

{{>breadcrumb}}

<div class="container my-3">
    <div class="row mx-3">
        <div class="col-md-3 mb-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9 mb-3">
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3">
                    <img src="/assets/img/no user.png" alt="user image" height="250px" class="w-100">
                </div>
                <div class="col-md-8 col-sm-6 mb-3">
                    {{!-- <h1 class="text-center">Welcome to Admin Dashboard</h1>
                    <p class="text-center">Manage your website content and settings from here.</p> --}}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Daksh Choudhary</th>
                            </tr>
                            <tr>
                                <th>User Name</th>
                                <th>Daksh</th>
                            </tr><tr>
                                <th>Email Address</th>
                                <th>dakshchaudhary@gmail.com</th>
                            </tr><tr>
                                <th>Phone</th>
                                <th>99273269XX</th>
                            </tr><tr>
                                <th>Role</th>
                                <th>Super Admin</th>
                            </tr>
                            <tr>
                                <th colspan="2"><a href="/admin/profile/update" class="btn btn-primary w-100">Edit Profile</a></th>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

{{>footer}}