{{>header}}
{{>navbar}}

{{>breadcrumb}}

<section id="" class="section-padding">
<div class="container my-3">
    <div class="row mx-3">
        <div class="col-md-3 mb-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9 mb-3">
            <h5 class="bg-primary text-center p-2 text-light">Events <a href="/admin/events/create"><i class="fa fa-plus text-light float-end me-2"></i></a></h5>

        </div>
    </div>

</div>
</section>

{{>footer}}