 <!-- START ABOUT PAGE WELCOME SECTION -->
      <section id="pabout" class="about-wel-padding">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-lg-0 mb-5">
                  <img class="img-fluid" src="assets/img/bg/about-img.png" alt=""/>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="welcome-section-title">
                     <h6 class="theme-color">Welcome To Our School</h6>
                     <h2>Kindergarten & Pre-Cadet School </h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utd labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab nisi ut aliquip ex ea commodo consequat. <br> Pellentesque Sed ut perspiciatis unde omnis iste nat error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam.</p>
                  </div>
                  <div class="welcome-des wow fadeInUp">
                     <div class="col-lg-8 col-md-7 col-12 pl-0 mt-4">
                        <div class="row">
                           <div class="col-lg-6 mb-md-3 mb-3">
                              <div class="welcome-btn">
                                 <a href="#" class="welcome-into-btn">Learn More <i class="icofont icofont-caret-right"></i></a>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <a class="welcome-video venobox" data-autoplay="true" data-vbtype="video" data-title="Introduction Video" data-gall="videoa" href="https://www.youtube.com/embed/Oq61TxejZ5g">
                                 <div class="welcome-video-icon">
                                    <i class="icofont-youtube-play"></i>
                                 </div>
                                 <div class="welcome-video-des">
                                    <h5>Watch Video</h5>
                                    <p>About Us</p>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- end col -->
            </div>
         </div>
      </section>
      <!-- END ABOUT PAGE WELCOME SECTION -->

<!-- START WELCOME SECTION -->
      <section id="habout" class="welcome-section-padding">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-lg-0 mb-5">
                  <div class="about-wel-des">
                     <h6 class="theme-color"><i class="icofont-plus"></i> Nekaton School Info</h6>
                     <h2 class="my-4">Invest in Your Student’s Future</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utd labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab nisi ut aliquip ex ea commodo consequat.</p>
                     <p class="my-4"><b>Pellentesque Sed ut perspiciatis unde omnis iste nat error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam.</b></p>
                     <div class="about-btn wow fadeInUp">
                        <a href="#" class="about-us-into-btn-2 mr-2">Read More</a>
                        <a href="#" class="about-us-into-btn-icon"><i class="icofont icofont-caret-right"></i></a>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12">
                  <div class="about-wel-img-sec img-overlay">
                     <a class="venobox" data-autoplay="true" data-vbtype="video" data-title="Intro Video" data-gall="videoh" href="https://www.youtube.com/embed/Oq61TxejZ5g"><i class="icofont-play-alt-2"></i></a>
                     <div class="img-wrap">
                        <img class="img-fluid" src="assets/img/bg/home-about-img.jpg" alt="">
                     </div>
                  </div>
               </div>
               <!-- end col -->
            </div>
         </div>
         <!--- END CONTAINER -->
      </section>
      <!-- END WELCOME SECTION -->