<!-- START SINGLE SERVICE PAGE SECTION -->
      <section id="singleservice" class="section-padding">
         <div class="auto-container">
            <div class="row mb-lg-5 mb-0">
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-5 pr-lg-5 pr-md-5 pr-0">
                  <div class="sidebar-widget ser_wid service-links mb-5">
                     <div class="sidebar-widget-inner">
                        <div class="sidebar-widget-title">
                           <h5>Popular Services</h5>
                        </div>
                        <ul>
                           <li><a href="#"><i class="icofont-plus-circle"></i> View all services</a></li>  
                           <li class="active"><a href="#"><i class="icofont-read-book-alt"></i> Books & Library</a></li>  
                           <li><a href="#"><i class="icofont-teddy-bear"></i> Day Care Facilities</a></li>    
                           <li><a href="#"><i class="icofont-bus-alt-2"></i> Transport Service</a></li>  
                           <li><a href="#"><i class="icofont-stethoscope-alt"></i> Health Service</a></li> 
                           <li><a href="#"><i class="icofont-web"></i>  Online Admission</a></li> 
                        </ul>                                   
                     </div>
                  </div>
                  <!-- end sidebar widget --> 
                  <div class="sidebar-widget tes-wid mb-5">
                     <div class="sidebar-widget-inner">
                        <div class="sidebar-widget-title">
                           <h5>Parents Feedback</h5>
                        </div>
                        <div class="testimonial-style-2">
                           <div class="testimonial-style-2-left">
                              <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/2.png" alt="">
                              <h4>Mark Doe</h4>
                              <span>Doctor</span>
                           </div>
                           <div class="testimonial-style-2-right rounded">
                              <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end sidebar widget --> 
                  <div class="sidebar-widget tea-wid">
                     <div class="sidebar-widget-inner">
                        <div class="sidebar-widget-title">
                            <h5>Popular Teachers</h5>
                        </div>
                        <div class="singleRecpost">
                           <img src="assets/img/team/1.jpg" alt="" class="img-fluid">
                           <h6 class="recTitle"><a href="#">Jone Doe</a></h6>
                           <p class="posted-on">Swimming Teacher</p>
                        </div>
                        <div class="singleRecpost">
                           <img src="assets/img/team/2.jpg" alt="" class="img-fluid">
                           <h6 class="recTitle"><a href="#">Jony Smith</a></h6>
                           <p class="posted-on">Drawing Teacher</p>
                        </div>
                        <div class="singleRecpost">
                           <img src="assets/img/team/3.jpg" alt="" class="img-fluid">
                           <h6 class="recTitle"><a href="#">Mark Hasen</a></h6>
                           <p class="posted-on">Cultural Teacher</p>
                        </div>
                     </div>
                  </div>
                  <!-- end sidebar widget -->
               </div>
               <!-- end col -->
               <div class="col-lg-8 col-md-8 col-sm-12 col-12">
   					<div class="service-slides-wrapper owl-carousel owl-theme">
   					    <div class="item" data-dot="<img class='service-slides-thumb' src='assets/img/service/1.jpg'/>">
   					        <div class="service-slides-inner">
   					             <figure>
   					                <img class="img-fluid" src="assets/img/service/1.jpg" alt="">
   					                <figcaption class="text-center">Image Caption One.</figcaption>
   					            </figure> 
   					        </div>
   					    </div>
   					    <!-- end single item -->
   					    <div class="item" data-dot="<img class='service-slides-thumb' src='assets/img/service/2.jpg'/>">
   					        <div class="service-slides-inner">
   					             <figure>
   					                <img class="img-fluid" src="assets/img/service/2.jpg" alt="">
   					                <figcaption class="text-center">Image Caption two.</figcaption>
   					            </figure> 
   					        </div>
   					    </div>
   					    <!-- end single item -->
   					    <div class="item" data-dot="<img class='service-slides-thumb' src='assets/img/service/3.jpg'/>">
   					        <div class="service-slides-inner">
   					             <figure>
   					                <img class="img-fluid" src="assets/img/service/3.jpg" alt="">
   					                <figcaption class="text-center">Image Caption Three.</figcaption>
   					            </figure> 
   					        </div>
   					    </div>
   					    <!-- end single item -->
   					    <div class="item" data-dot="<img class='service-slides-thumb' src='assets/img/service/4.jpg'/>">
   					        <div class="service-slides-inner">
   					             <figure>
   					                <img class="img-fluid" src="assets/img/service/4.jpg" alt="">
   					                <figcaption class="text-center">Image Caption Four.</figcaption>
   					            </figure> 
   					        </div>
   					    </div>
   					    <!-- end single item -->
   					    <div class="item" data-dot="<img class='service-slides-thumb' src='assets/img/service/5.jpg'/>">
   					        <div class="service-slides-inner">
   					             <figure>
   					                <img class="img-fluid" src="assets/img/service/5.jpg" alt="">
   					                <figcaption class="text-center">Image Caption Five.</figcaption>
   					            </figure> 
   					        </div>
   					    </div>
   					    <!-- end single item -->
   					</div>
   					<!-- end service slides -->
   					<div class="service-des mt-4">
   	                 	<h4 class="title">Service Overview</h4>
   	                 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utd labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab nisi ut aliquip ex ea commodo consequat.</p>
   	                 	<p><b>Pellentesque Sed ut perspiciatis unde omnis iste nat error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam.</b></p>
   					</div>
                  <div class="service-des-list my-4">
                     <h4 class="title">Service Include</h4>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-3">
                          <ul>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                          </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <ul>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                              <li><i class="icofont-caret-right"></i>  Lorem ipsum dolor sit amet, consectetur adipis</li>
                          </ul>
                        </div>
                     </div>
                  </div>
                  <div class="service-des-blockquote mb-4">
                     <div class="row">
                        <div class="col-lg-4 col-12 mb-lg-0 mb-3 mt-2">
                           <img class="img-fluid" src="assets/img/blog/3.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-12 mt-2">
                           <blockquote class="blockquote text-left">
                              <p>“Research shows that there is only half as much variation in student achievement between schools as there is among classrooms in the same school. If you want your child to get the best education possible, it is actually more important to get him assigned to a great teacher than to a great school.”</p>
                              <footer class="blockquote-footer">  Bill Gates,<cite> US</cite></footer>
                           </blockquote>
                        </div>
                     </div>
                  </div>
                  <div class="service-des-faq mt-4">
						   <h4 class="title">Services Regular Question</h4>
   						<div class="panel-group faq-home-accor" id="accordion">
   							<div class="panel panel-default mb-3">
   								<div class="panel-heading">
   								   <h5 class="panel-title">
   								      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Where will I find the teachers list? <i class=" text-dark icofont icofont-minus"></i></a>
   								   </h5>
   								</div>
   								<div id="panel1" class="panel-collapse collapse show">
   								   <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
   								   </div>
   								</div>
   							</div>
   							<div class="panel panel-default mb-3">
   								<div class="panel-heading">
   								   <h5 class="panel-title">
   								      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">What can I expect on the first day? <i class=" text-dark icofont icofont-plus"></i></a>
   								   </h5>
   								</div>
   								<div id="panel2" class="panel-collapse collapse">
   								   <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
   								   </div>
   								</div>
   							</div>
   							<div class="panel panel-default">
   								<div class="panel-heading">
   								   <h5 class="panel-title">
   								      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Where do I drop off my child? <i class=" text-dark icofont icofont-plus"></i></a>
   								   </h5>
   								</div>
   								<div id="panel3" class="panel-collapse collapse">
   								   <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
   								   </div>
   								</div>
   							</div>
   						</div>
					    </div>
               </div>
               <!-- end col -->
            </div>
         </div>
      </section>
      <!-- END SINGLE SERVICE PAGE SECTION -->

      <!-- START CALL TO ACTION SECTION -->
      <section id="calltoaction" class="about-promo bg-theme">
         <div class="auto-container">
            <div class="row">
               <div class="col-10 mx-auto">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                        <div class="about-promo-box-img">
                           <img class="img-fluid" src="assets/img/bg/promo-img.png" alt="">
                        </div>
                     </div>
                     <div class="col-lg-8 col-md-8 col-12 text-center">
                        <div class="about-promo-box-des">
                           <h4>Become A Part Of Our Family!</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           <a href="#" class="call-to-action-btn wow fadeInUp">Enroll Now </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- START CALL TO ACTION SECTION -->
