<!-- START ERROR PAGE SECTION -->
      <section id="error" class="section-padding">
         <div class="auto-container">
            <div class="row text-center">
               <div class="col-lg-8 col-md-8 col-12 mx-auto">
                  <div class="error-page-wrap">
                      <h3>4<i class="icofont icofont-optic"></i>4</h3>
                     <h4>Oops! Page Not Found</h4>
                     <p>Page you are looking for counld not be found</p>
                     <a href="#" class="error-btn"><i class="icofont icofont-ui-home"></i>Back to home</a>
                     <div class="search-box-wrap mt-5 wow fadeInUp">
                        <form class="search-box shadow mt-5">
                          <div class="search-body row no-gutters align-items-center">
                              <div class="col">
                                  <input class="form-control form-control-lg search-box-form-control" type="search" placeholder="Search again...">
                              </div>
                              <!--end of col-->
                              <div class="col-auto">
                                  <button class="btn btn-lg btn-search" type="submit">Search</button>
                              </div>
                              <!--end of col-->
                          </div>
                        </form>
                     </div>
                  </div>
               </div>
               <!-- end col -->
            </div>
         </div>
      </section>
      <!-- END ERROR PAGE SECTION -->