 <!-- START COUNTER SECTION -->
      <section id="counter" class="counter-section counter-padding overlay section-back-image" data-background="assets/img/bg/counter-bg-2.jpg">
         <div class="auto-container">
            <div class="row text-center wow fadeInUp">
               <div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-counter-item single-counter-item-s-2">
                     <i class="icofont-teacher"></i>
                     <h4 class="timer">121</h4>
                     <p>Quality Teachers</p>
                  </div>
               </div>
               <!-- End single counter item -->
               <div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-counter-item single-counter-item-s-2">
                     <i class="icofont-student-alt"></i>
                     <h4 class="timer">342</h4>
                     <p>Enrolled Students</p>
                  </div>
               </div>
               <!-- End single counter item -->
               <div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-counter-item single-counter-item-s-2">
                     <i class="icofont-calendar"></i>
                     <h4 class="timer">562</h4>
                     <p>Successful Events</p>
                  </div>
               </div>
               <!-- End single counter item -->
               <div class="col-lg-3 col-md-3 col-12">
                  <div class="single-counter-item single-counter-item-s-2">
                     <i class="icofont-group-students"></i>
                     <h4 class="timer">434</h4>
                     <p>Satisfied Parents</p>
                  </div>
               </div>
               <!-- End single counter item -->
            </div>
         </div>
         <!--- END CONTAINER -->
      </section>
      <!-- END COUNTER SECTION -->