<!-- START SERVICE TAB SECTION -->
      <section id="servicetab" class="section-padding">
          <div class="auto-container">
            <div class="row">
               <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
                  <div class="section-title">
                     <h6 class="theme-color">What We Do</h6>
                     <h2>Services We Provide</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
               </div>
            </div>
            <!-- end section title -->
              <div class="service-tab">
                 <div class="row">
                    <div class="col-lg-3 col-12 mb-lg-0 mb-md-4 mb-4">
                     <ul id="tabsJustified" class="nav nav-tabs">
                        <li class="nav-item">
                           <a href="#" data-target="#one" data-toggle="tab" class="nav-link">
                              <i class="icofont-teddy-bear"></i>
                              <span>Day Care Facilities</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#two" data-toggle="tab" class="nav-link active">
                              <i class="icofont-paper"></i>
                              <span>Books & Libraries</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#three" data-toggle="tab" class="nav-link">
                              <i class="icofont-bus-alt-2"></i>
                              <span>Quality Transport</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#four" data-toggle="tab" class="nav-link">
                              <i class="icofont-stethoscope-alt"></i>
                              <span>Health Treatment</span>
                           </a>
                        </li>
                     </ul>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                       <div id="tabsJustifiedContent" class="tab-content">
                           <div id="one" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Day Care Facilities</h4>
                                          <p>Pentesque Sed ut perspiciatis unde omnis iste natus aque errors set voluptatem accusantium udema dolor emqueler error laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritatis et quasi lorem architecto beatae vitae.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/6.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="two" class="tab-pane animated fadeInUp active show">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Library Facilities</h4>
                                          <p>Pentesque Sed ut perspiciatis unde omnis iste natus aque errors set voluptatem accusantium udema dolor emqueler error laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritatis et quasi lorem architecto beatae vitae.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/2.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="three" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Transport Service</h4>
                                          <p>Pentesque Sed ut perspiciatis unde omnis iste natus aque errors set voluptatem accusantium udema dolor emqueler error laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritatis et quasi lorem architecto beatae vitae.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/3.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="four" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Health Service</h4>
                                          <p>Pentesque Sed ut perspiciatis unde omnis iste natus aque errors set voluptatem accusantium udema dolor emqueler error laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritatis et quasi lorem architecto beatae vitae.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/4.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>

                           </div>
                        </div>
                    </div>
                    <!-- end col -->
                 </div>
              </div>
          </div>
          <!--- END CONTAINER -->
      </section>
      <!-- END SERVICE TAB SECTION -->