<!-- START ABOUT TESTIMONIAL SECTION -->
      <section id="aboutes" class="section-padding bg-gray">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
                  <div class="section-title">
                     <h6 class="theme-color">Believe in Satisfaction</h6>
                     <h2>What Parents Say</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
               </div>
            </div>
            <!-- end section title -->
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-4 wow fadeInLeft">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/2.png" alt="">
                        <h4>Mark Doe</h4>
                        <span>Doctor</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12 wow fadeInRight">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/3.png" alt="">
                        <h4>Mahan Selon</h4>
                        <span>Lawyer</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
            </div>
         </div>
      </section>
      <!-- END ABOUT TESTIMONIAL SECTION -->